@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap%27');

                



.card{
    background: url(../bg/6.jpg);
    background-position: center;
    font-family: 'Tangerine', cursive;
    font-size: 36px;
    font-weight: 500;

                                                
    
}
.signature{
    width:50%;
@import url('http://fonts.cdnfonts.com/css/harry-potter');
$font-1: 'Harry Potter', sans-serif;
*{
     font-family: $font-1;
}
body{
     height: 100%;
   
}

.bg-1{
     background: linear-gradient( rgba(0, 0, 0, 0.686), rgba(0, 0, 0, 0.686) ), url('/image/2.jpg');
     background-size: cover;
     width: 100%;
}
section{
     background: rgba( 255, 255, 255, 0.15 );
     box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
     backdrop-filter: blur( 1.5px );
     -webkit-backdrop-filter: blur( 1.5px );
     border-radius: 10px;
     border: 1px solid rgba( 255, 255, 255, 0.18 );
}