@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap%27');

                



.card{
    background: url(../bg/6.jpg);
    background-position: center;
    font-family: 'Tangerine', cursive;
    font-size: 36px;
    font-weight: 500;

                                                
    
}
.signature{
    width:50%;
}