* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
}

.background {
	background: linear-gradient( rgba(0, 0, 0, 0.686), rgba(0, 0, 0, 0.686) ), url('/image/6.png');
     background-size: cover;
     background-position: fixed;
     width: 100vw;
	height: 100vh;
}

.bird {
	height: 100px;
	width: 160px;
	position: fixed;
	top: 45vh;
	left: 40vw;
	z-index: 100;
}

.pipe_sprite {
	position: fixed;
	top: 40vh;
	left: 100vw;
	height: 70vh;
	width: 6vw;
	background-color: #fff; background-repeat: repeat-y; background-size: 100% 88px; background-position: 0% 0%; background-image: repeating-linear-gradient(-25deg, #fff, #fff 20px, #df5646 20px, #df5646 40px, #fff 40px, #fff 60px, #1c78a4 60px, #1c78a4 80px); animation: barberpole 4s linear infinite;  
}

.message {
	position: fixed;
	z-index: 10;
	height: 10vh;
	font-size: 10vh;
	font-weight: 100;
	color: black;
	top: 10vh;
	left: 0;
	text-align: center;
}

.score {
	position: fixed;
	z-index: 10;
	height: 10vh;
	font-size: 10vh;
	font-weight: 100;
	color: goldenrod;
	top: 0;
	left: 0;
}

.score_val {
	color: goldenrod;
}

.text-gold{
	
	color: goldenrod !important;
}
	